*{
    margin:0;
    padding:0;
}

body{

    height: 100vh;
    display:flex;
    flex-direction: column;
    
}

#header{
    height:10%;
    background-color: red;
}

#content-area{
    height:100%;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;

}

#footer{
    height: 5%;
    background-color: green;
}

#gameboard{
    max-height:500px;
    min-height: max(500px, 25%);
    min-width: max(500px, 25%);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
}

#gameboard > *{
    height: 100%;
}

#gameboard > div:nth-child(2), #gameboard > div:nth-child(5), #gameboard > div:nth-child(8){

    border-left: 2px solid black;
    border-right: 2px solid black;

}

#gameboard > div:nth-child(4), #gameboard > div:nth-child(5), #gameboard > div:nth-child(6){
    
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

#gameboard > div{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6rem;
}
